.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #242424;
  margin: 10px;
  padding: 10px;
}
.title {
  color: #ffffff;
}
.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 300px;
}
.error-msg {
  color: #d9534f;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
  padding: 30px;
  border: 5px solid #ffffff;
  border-radius: 5px;
}
.inputs {
  margin: 10px;
  padding: 10px;
  border: 2px solid #3b3b3b;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ffffff;
  color: #242424;
}
